@import "global";
@import "header";
@import "footer";

.single-news-block{
    h2{
        margin-bottom: 40px;
    }
}

.single-news-block-info{
    .preview{
        margin-bottom: 50px;
        img{
            margin-right: 40px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: $cstGrey;
        line-height: 24px;
    }
    padding-bottom: 55px;
    border-bottom: 1px solid #F1F1F1;
}

.pag-mob{
    display: none;
}

.pagination-single {
    margin-top: 51px;
    width: 100%;
    .next-news{
        margin-left: auto;
        img{
            margin-left: 15px;
            transform: rotate(180deg);
        }
    }
    .prev-news{
        img{
            margin-right: 15px;
        }
    }
    a{
        font-size: 16px;
        color: $cstGrey;
        &:hover{
            color: $cstBlue;
        }
    }

}

@media(max-width:920px){
    .single-news-block-info .preview{
        flex-direction: column;
        img{
            max-width: 100%;
            height: auto;
            margin-right: 0px;
        }
    }
    .single-news-block-info .preview{
        margin-bottom: 20px;
    }
}

@media(max-width:576px){
    .pag-mob{
        margin-top: 22px!important;
    }
    .single-news-block-info{
        padding-bottom: 27px;
    }
    .single-news-block h2{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .single-news-block-info {
        .preview{
            img{
                width: 100%;
            }
        }
        p{
            font-size: 12px;
            line-height: 18px;
        }

    }
    .pag-mob{
        display: flex;
    }
    .pagination-single {
        display: none;
    }
}